:root {
    --theme: #280;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: "Arial";
    color: var(--theme);
}

#map {
    width: 100%;
}

#marker {
    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    outline: 5px solid var(--theme);
    border: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#btn {
    background-color: var(--theme);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#btn:hover {
    background-color: #1f6600;
    transform: scale(1.1);
    cursor: pointer;
}

#mapContainer {
    position: relative;
    display: none;
}

#camera {
    width: 100%;
}
